body{

  background: rgb(64, 66, 88)

}

.card {
  margin-left: 1rem;
  margin-top: 2rem;
  font-size: 1.3rem;

}

#topSection {
  color: white;
  margin-top: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

#button-addon1{
  display: block;
  margin: 1rem auto;

}

@media screen and (max-width: 768px){
  .card {
    width: 100% ;
    font-size: 2rem;
  }

  .card-title,#topSection, button a, nav, .navbar-brand  {
    font-size: 2rem;

  }


}